<div class="center jumbotron">
    <h1> Welcome to Trippic App</h1>
    
    <h2>
        
        <p> The Idea of the Trippic App is to allow users to share their experiances and best tips and advice about visiting various destinations around the world
        whilst also sharing a single photo which emcompasses their entire trip</p>
    </h2>
    
    <%= link_to "Sign up now!", register_path, class: "btn btn-lg btn-success" %>
</div>
<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">
            View Trippics as Guest user
        </h3>
        <h2 class="left">Browse and view trippics as a guest and Sign Up later</h2>
        <p><%= link_to "Browse Trippics", trips_path, class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            Sign into your account
        </h3>
        <h2 class="left">Add/Update your Trippics / Create Reviews/ Like & Dislike Trippics </h2>
        <p><%= link_to "Login to your account", login_path,  class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            View Trippics as Guest user
        </h3>
        <h2 class="left">Browse and view trippics as a guest and Sign Up later</h2>
        <p><%= link_to "Browse Trip Listings", trips_path, class: "btn btn-warning btn-small" %></p>
    </div>
</div>
<hr/>

<%# https://developers.google.com/maps/tutorials/fundamentals/adding-a-google-map %>
<style>
      #map {
        width: 100%;
        height: 400px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(44.5403, -78.5463),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

<h1>Wheres Your Next Trip??</h1>
<div id="map"></div>

    
