<header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "Trippic", root_path, class: "btn btn-lg btn-danger", id: "logo" %>
      <div class="nav_item">
        <%= link_to "link1", "", class: "btn btn-default btn-success" %>
      </div>
      <div class="nav_item">
        <%= link_to "link1", "", class: "btn btn-default btn-success" %>
      </div>
      <div class="nav_item">
        <%= link_to "New Trippic", new_trip_path, class: "btn btn-default btn-success" %>
      </div>
    </div>
</header>